@import '../../../../styles/base';

.exchange_rates__label {
  align-self: flex-start;
  text-align: right;
  label {
    display:inline-block;
    margin-top: 0.5rem;
  }
}
label.exchange_rates__label--for-date {
  padding-top: 3px; /* fix for offset done by date field */
}

@media (max-width: 960px) {
  .exchange_rates__label {
    text-align: center;
    label {
      margin-top: 0;
    }
  }
}

.exchange_rates__form-field {
  text-align: left;
}

@media (max-width: 960px) {
  .exchange_rates__form-field {
    text-align: center;
  }
}

.button-wide {
  @include button_default;
  width: 100%;
  text-align: center;
  line-height: 36px;
  padding-top: 0;
  padding-bottom: 0;
  transition: all .7s;
  &:hover {
    cursor: pointer;
  }
  /* Allow inline for spinner */
  span {
    display: inline;
    margin-right: 0;
  }
}

.warning {
  color: $colors_orange;
  padding: 0.5em;
}
.error {
  color: $colors_red;
  padding: 0.5em;
}

.error-box {
  text-align: center;
  span {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0 0 0;
    color: $colors_red;
    border: 1px solid colors_red;
    border-radius: 3px;
    background-color: rgba($colors_red, .2)
  }
}
