.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

@mixin row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: -1em 0 0 -0.5rem;
  width: 100%;
}

.row {
  @include row;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.row-center {
  @include row;
  justify-content: center;
}

.col--1 {
  flex: 0 0 3.333%;
}

.col--3 {
  flex: 0 0 25%;
}

.col--4 {
  flex: 0 0 33.333%;
}

.col--6 {
  flex: 0 0 50%;
}

.col--8 {
  flex: 0 0 66.666%;
}

.col--1,
.col--3,
.col--4,
.col--6,
.col--8 {
  padding: 1em 0 0 1em;
}

@media (max-width: 960px) {
  .col--1,
  .col--3,
  .col--4,
  .col--6,
  .col--8 {
    flex: 0 0 100%;
  }
}
