$colors_white: #fff;
$colors_base_text: #333;
$colors_darkgrey: #888888;
$colors_red: #933;
$colors_black: #000;
$colors_orange: orange;

$colors_button_border: rgb(192, 192, 192);
$colors_button_background: rgb(240, 240, 240);
